fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0

redis
elasticsearch

numpy
Pillow
opencv-python-headless
scipy
scikit-image

torch>=2.4.0
torchvision>=0.19.0
transformers
huggingface-hub

timm==1.0.19
einops

segment-anything

open-clip-torch
ftfy
regex

omegaconf
git+https://github.com/openai/CLIP.git